.app-brand {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  line-height: 1;
  min-height: 1px;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 64px;
  margin-top: 12px;
  justify-content: center;

  span {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
  }
}
