<form nz-form
      [formGroup]="form"
      (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Enter the name">
      <nz-input-group>
        <input nz-input
               type="text"
               placeholder="Name*"
               formControlName="name">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <nz-select formControlName="type"
                   nzPlaceHolder="Select type">
          <nz-option nzLabel="Service"
                     nzValue="service"></nz-option>
          <nz-option nzLabel="Product"
                     nzValue="product"></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input type="text"
               nz-input
               placeholder="Currency"
               formControlName="currency">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row>
    <div nz-col
         nzSpan="24">
      <div class="actions">
        <button [disabled]="form?.invalid"
                nz-button
                type="submit"
                nzType="primary">Save
        </button>
        <button nz-button
                (click)="close()"
                type="button"
                nzType="default">Cancel
        </button>
      </div>
    </div>
  </div>
</form>
